apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: nginx-highway
  namespace: argocd
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  project: default
  source:
    repoURL: "https://github.com/JulianMKhoo/highway-config"
    targetRevision: HEAD
    path: charts/nginx-app
    helm:
      valueFiles:
        - values.yaml
  destination:
    server: "https://kubernetes.default.svc"
    namespace: highway
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
